$marron:#eacd95;
$gris:#e08e8e;
$negro:#060606;

@import "Index";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    header{
        h1{
            color: rgba(245, 245, 245, 0.999);
            text-align: center;
            background-color:$negro;
        }
    }
}